@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  font-family: "Poppins", sans-serif;
}

p {
  font-weight: 300;
}

button {
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
